table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  max-width: 700px;
  margin: 5% auto;
  table-layout: fixed;
}

th {
  padding: 10px;
}

td {
  padding: 2px;
  text-align: center;
}

tbody {
  background-color: white;
}

thead {
  background-color: white;
}
